/*This is for variable*/
$background-color-1: rgba(242, 242, 242, 0.9);
$background-color-2: rgba(64, 64, 64, 0.9);
$background-color-3: rgba(242, 242, 242, 1);
$animation-1: all 0.3s;
/*This is for minxins*/
@mixin dropdown-animation($animation-1) {
    -webkit-transition: $animation-1;
    -moz-transition: $animation-1;
    -ms-transition: $animation-1;
    -o-transition: $animation-1;
    transition: $animation-1;
}
/*This is for Navbar*/
.myNavbar {
    margin-bottom: 0;
    opacity: 0.9;

    .brandIcon {
        max-width: 20px;
        top: -10px;
    }

    .dropdown .dropdown-menu {
        @include dropdown-animation($animation-1);
        max-height: 0;
        display: block;
        overflow: hidden;
        opacity: 0;
    }
    .dropdown.open .dropdown-menu {
        max-height: 500px;
        opacity: 1;
    }

    .navpill::after {
        position: absolute;
        top: 80%;
        left: 20%;
        width: 60%;
        height: 1px;
        background: #ff6666;
        content: '';
        opacity: 0;
        -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
        -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
        transition: height 0.3s, opacity 0.3s, transform 0.3s;
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    .navpill:hover::after {
        height: 2px;
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        transform: translateY(0px);
    }

    .navpill-toggle::after {
        @extend .navpill;
        left: 18%;
        width: 65%;
    }

}

/*This is for navbar area*/
/*.login-content {
  text-align: center;

    .dropdown.open .dropdown-menu {
        max-height: 500px;
        opacity: 1;
    }

    .navpill::after {
        position: absolute;
        top: 80%;
        left: 20%;
        width: 60%;
        height: 1px;
        background: #ff6666;
        content: '';
        opacity: 0;
        -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
        -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
        transition: height 0.3s, opacity 0.3s, transform 0.3s;
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    .navpill:hover::after {
        height: 2px;
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        transform: translateY(0px);
    }

    .navpill-toggle::after {
        @extend .navpill;
        left: 18%;
        width: 65%;
    }
}*/
/*This is for sign-up area*/
.custom-content {
    text-align: center;
    width: 30%;
    //    display: none;
    .icon {
        display: block;
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        opacity: 0.3;
        width: 1.5em;
        height: 2em;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }

        &::after,
        &::before {
            content: '';
            position: absolute;
            height: 50%;
            left: 1em;
            width: 2px;
            background-color: #333;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }
    .login {
      .customBtn {
          height: 3em;
          width: 100%;
          background-color: #ff7769;
          border: none;
          border-radius: 5px;
          margin: 0.5em 0;
      }

      .checkbox {
          text-align: left;
      }

      .additional-area {
          text-align: left;

          .btn-link {
              padding: 5px 0;
              color: #95a5a6;
          }

          .btn-link:focus,
          .btn-link:hover {
              color: #2c3e50;
              text-decoration: none;
          }
        }
    }
    .register {
      @extend .login;
    }
    .forget {
      @extend .login;
    }
}
