/*This is for Navbar*/
.myNavbar {
    margin-bottom: 0;
}

.brandIcon {
    max-width: 20px;
    top: -10px;
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown.open .dropdown-menu {
    max-height: 500px;
    opacity: 1;
}

.navpill a{
 padding: 0 0 10px;
}
/*This is for Intro Section*/
.intro {
    background: url(../mypic/background-1-1.png) no-repeat center center fixed;
    background-size: cover;
    height: 50em;
}

.myJumbotron {
    padding-top: 30em;
    margin: auto;
    background-color: transparent;
    text-align: center;
}

/*This is for main Section*/
.icon {
    max-width: 20em;
}

.myRow {
    background-color: rgba(242, 242, 242, 0.9);
    padding: 5em 0;
}

.myRow2 {
    background-color: rgba(64, 64, 64, 0.9);
    color: white;
    padding: 5em 0;
}

.main {
    background: url(../mypic/background-2.jpg) no-repeat center center fixed;
    background-size: cover;
}

.background-image {
    height: 20em;
}

/*This is for Advtange Section*/
.advt {
    background: url(../mypic/background-3.jpg) no-repeat center center fixed;
    background-size: cover;
}

/*this is for demo*/
.icon-small {
  max-width: 10em;
}

.myDemo {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: rgba(242, 242, 242, 1);
    text-decoration: none;
}

.myDemo a:hover{
  text-decoration: none;
}

.Support {
    display: block;
    padding: 3em;
}

.Try {
  display: block;
    padding: 3em;
}

.Demo {
  display: block;
    padding: 3em;
}

/*This is for footer*/
.foot {
  text-align: center;
  padding: 5em;
}

.social {
  max-width: 3em;
  padding: 0.5em;
}

.foot-col-1 {
  display: blcok;
  justify-content: space-around;
}

.contact {
  text-align: left;
}
