/*This is for variable*/
$background-color-1: rgba(242, 242, 242, 0.9);
$background-color-2: rgba(64, 64, 64, 0.9);
$background-color-3: rgba(242, 242, 242, 1);
$animation-1: all 0.3s;
/*This is for minxins*/
@mixin dropdown-animation($animation-1) {
    -webkit-transition: $animation-1;
    -moz-transition: $animation-1;
    -ms-transition: $animation-1;
    -o-transition: $animation-1;
    transition: $animation-1;
}
/*This is for Intro Section*/
.intro {
    background: url("../mypic/background-1-1.png") no-repeat center center fixed;
    background-size: cover;
    height: 50em;

    .myJumbotron {
        padding-top: 30em;
        margin: auto;
        background-color: transparent;
        text-align: center;
    }
}
/*This is for main Section*/
.main {
    background: url("../mypic/background-2.jpg") no-repeat center center fixed;
    background-size: cover;

    .icon {
        max-width: 20em;
    }

    .myRow {
        background-color: $background-color-1;
        padding: 5em 0;
    }

    .myRow2 {
        background-color: $background-color-2;
        color: white;
        padding: 5em 0;
    }

    .background-image {
        height: 20em;
    }
}
/*This is for Advtange Section*/
.advt {
    background: url("../mypic/background-3.jpg") no-repeat center center fixed;
    background-size: cover;

    .myRow2 {
        background-color: $background-color-2;
        color: white;
        padding: 5em 0;
    }
}
/*this is for demo*/
.myDemo {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: $background-color-3;
    text-decoration: none;

    a:hover {
        text-decoration: none;
    }

    .icon-small {
        max-width: 10em;
    }

    .Support {
        display: block;
        padding: 3em;
    }

    .Try {
        display: block;
        padding: 3em;
    }

    .Demo {
        display: block;
        padding: 3em;
    }
}
/*This is for footer*/
.foot {
    text-align: center;
    padding: 5em;

    .foot-col-1 {
        display: blcok;
        justify-content: space-around;

        .social {
            max-width: 3em;
            padding: 0.5em;
        }
    }

    .contact {
        text-align: left;
    }
}
